@using Newtonsoft.Json
@using WebHelpers.Mvc5
@using WebHelpers.Mvc5.JqGrid
@model WebHelpers.Mvc5.Demo.Models.Product
@{
    ViewBag.Title = "Json";
    var grid = new Grid("json")
    {
        DataUrl = Url.Action("JsonData"),
        IsInitialWidthAutomatic = true,
        IsResponsive = true,
        ShowPagerRowCount = true,
        Columns = new List<Column>
        {
            new Column("CategoryName"),
            new Column("ProductName"),
            new Column("Country"),
            new Column("Price"){SortType = SortType.Decimal},
            new Column("Quantity"){SortType = SortType.Integer}
        }
    };

    var jqgrid = Html.WebHelpers().JqGrid();
    jqgrid.Grid = grid;

    jqgrid.Columns(columns =>
    {
        columns.Add(jqgrid.ColumnFor(c => c.CategoryName));
    });
}

<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                @jqgrid.Render(grid)
            </div>
        </div>
    </div>
</div>

<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                @*@JsonConvert.SerializeObject(Html.JqGrid().ColumnFor(c => c.CategoryName))*@
            </div>
        </div>
    </div>
</div>

<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                @*@JsonConvert.SerializeObject(Html.JqGrid().ColumnFor(c => c.Price))*@
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJavascript
{
    @jqgrid.Initialize(grid)
}
